.container-fluid{
    background: #e4e3e3;
}

.jumbotron, .btn{
    text-align: center;
}

#numberGuess, #crystals{
    text-align: center;
}

.yourNumber{
    text-align: center;
    font-size: 18px;
}

/* Curve text styles */
.curve-text{
    height: 200px;
    transform: rotate(8deg);
    position: relative;
    left: 33.3px;
    margin-bottom: 70px;
}

path{
    fill: transparent;
  }
  
text{
    fill: #FF9800;
    font-size: -webkit-xxx-large;
  }
/* End of curve text styles */

/* CSS animation typewriter effect */
h2, .typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    animation: 
      typing 4.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
 /* End of typewriter styles */ 